#bg{
    position: fixed;
    top: 0;
    left: 0;
}

.main{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    position: absolute;
}
.box{
    margin-top: 2rem;
    background-color: #A7E6FF;
    border: 2px #402E7A solid;
    margin-bottom: 45rem;
    border-radius: 2rem;
}
header{
    grid-column: 2/12;
}

#sun{
    border: 2px #402E7A solid;
    grid-column-start: 2;
    width: 30rem;
    border-radius: 2rem;
    padding: 2rem;
}

h1, h2, p{
    color: #4C3BCF;

}