#bg{
    position: fixed;
    top: 0;
    left: 0;
}

.main{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    position: absolute;
}
.box{
    margin-top: 2rem;
    background-color: #A7E6FF;
    border: 2px #402E7A solid;
    margin-bottom: 45rem;
    border-radius: 2rem;
}
header{
    grid-column: 2/12;
}
.planet{
    border: 2px #402E7A solid;
    background-color: #A7E6FF;
    grid-column: 2/ 7;
    margin-bottom: 125rem;
    border-radius: 2rem;
    padding: 2rem;
}
#sun{
    margin-bottom: 135rem;
}
#mercury{
    margin-bottom: 20rem;
}
#venus{
    margin-bottom: 35rem;
}
#earth{
    margin-bottom: 75rem;
}
#mars{
    margin-bottom: 440rem;
}
#jupiter{
    margin-bottom: 270rem;
}
#saturn{
    margin-bottom: 300rem;
}
#uranus{
    margin-bottom: 300rem;
}
#neptune{
    margin-bottom: 400rem;
}
h1, h2{
    text-align: center;
    color: #4C3BCF;
}
p{
    color: #4C3BCF;
}

#warning{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 920px) {
    .planet {
        grid-column: 1/8;
    }
}